*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;

}
.App h1{
  font-size: 4rem;
}

.app{
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  gap: 2em;
}

.nav{
  width: 100vw;
  padding: 1em 10%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 2em;
  align-items: center;
}
.logo{
  font-size: 3rem;
}
.nav__list{
  display: flex;
  margin-right: 10%;
  gap: 1em;
}
.nav__list a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;

}


.main{
  flex: 1;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  gap: 2em;
  padding: 0 20%;
}

.footer{
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 2em;
  gap: 10%;
}
.footer__left{
  width: 50%;
  display: flex;
  flex-flow: column;
  gap: 2em;

  
}
.footer__left h3{
  font-size: 1.5rem;
}
.footer__left p{
  font-size: .9rem;
}
.footer__right{
  margin-top: 2em;
  display: flex;
  flex-flow: column;
  gap: 1em;
  margin-left: 10%;
}

.footer__right p:nth-child(1){
  font-size: 1.5rem;
}

/* Event Handling */

.eventsApp{
  padding: 0 10%;
  background-color: rgb(242, 237, 237);
}


.event{
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly
  
}
.parent{
  resize: both;
  background-color: #fff;
  
}
.parent::-webkit-scrollbar {
  width: 0; /* Set width to 0 to hide the scrollbar */
  background-color: transparent; /* Set background color to transparent */
}
.shower{
  width: 60vw;
  height: 200px;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 14px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: blue;
  
}

.explainer{
  width: 30vw;
  height: 100px;
  border-radius: 14px;
 background-color:  rgba(0, 0, 0, .5);
 display: grid;
 place-items: center;
 color: white;
 resize: both;
 overflow: auto;

 
}
input{
  padding: .5em;
  width: 60vw;
  height: 50px;
  border-color: rgba(0, 0, 0, 1);
  border-radius:10px;
}

button{
  background-color: navy;
  color: white;
  padding:1em 3em;
  border: none;

  border-radius: 8px;
}